In [1]:
# Volatility Stop Loss Calculator 

### Description
# - Calculates the best Stop Loss percentage based on Volatility 

### Model Type 
# - Python / Excel 
#15-07-2022

### Version - V1.0

### Goals:
# - To find the best stop loss percentage based on volatility 

### Version Updates:
# - Relatory 


### Future Implementations: 
# - Add total Days Count to relatory 
# - Add to any ML model 
# - Considerations about Close price versus Being Stoped - what's the difference? 


### Author - Luiz Gabriel Bongiolo

### Credits & References 
# - Leandro Guerra Outspoken Market - Check him at: www.outspokenmarket.com / instagram @leandrowar / https://www.outspokenmarket.com/blog/stop-de-volatilidade-como-usar-outspoken-market
# - Excel Spreadsheet https://www.outspokenmarket.com/uploads/8/8/2/3/88233040/stop_volatilidade_-_outspoken_market.xlsx

In [2]:
from pandas_datareader import data as pdr 
import yfinance as yf 
yf.pdr_override()
import pandas as pd
import numpy as np
import datetime

In [3]:
#Import the data

ticker = "^IXIC"                            #You can change this to any ticker from yahoo finance https://finance.yahoo.com/
start = "2014-01-01"                          #Pick the starting date 
end = datetime.datetime.now()                 #Pick end date or leave it as .now() for today's date 

df = pdr.get_data_yahoo(ticker, start, end)


df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-12-31,4161.509766,4177.729980,4160.770020,4176.589844,4176.589844,1401140000
2014-01-02,4160.029785,4160.959961,4131.790039,4143.069824,4143.069824,1738820000
2014-01-03,4148.560059,4152.959961,4124.959961,4131.910156,4131.910156,1667480000
2014-01-06,4137.029785,4139.779785,4103.750000,4113.680176,4113.680176,2292840000
2014-01-07,4128.569824,4158.180176,4126.479980,4153.180176,4153.180176,2278220000
...,...,...,...,...,...,...
2022-10-10,10659.950195,10669.929688,10449.040039,10542.099609,10542.099609,3989640000
2022-10-11,10484.370117,10608.839844,10351.980469,10426.190430,10426.190430,4738840000
2022-10-12,10437.000000,10494.530273,10372.209961,10417.099609,10417.099609,4091030000
2022-10-13,10131.820312,10697.709961,10088.830078,10649.150391,10649.150391,5300080000
2022-10-14,10742.809570,10766.690430,10308.809570,10321.389648,10321.389648,4393000000

In [4]:
#Remove unnecessary columns 

df.pop("Adj Close")
df.pop("Volume")

df

                    Open          High           Low         Close
Date
2013-12-31   4161.509766   4177.729980   4160.770020   4176.589844
2014-01-02   4160.029785   4160.959961   4131.790039   4143.069824
2014-01-03   4148.560059   4152.959961   4124.959961   4131.910156
2014-01-06   4137.029785   4139.779785   4103.750000   4113.680176
2014-01-07   4128.569824   4158.180176   4126.479980   4153.180176
...                  ...           ...           ...           ...
2022-10-10  10659.950195  10669.929688  10449.040039  10542.099609
2022-10-11  10484.370117  10608.839844  10351.980469  10426.190430
2022-10-12  10437.000000  10494.530273  10372.209961  10417.099609
2022-10-13  10131.820312  10697.709961  10088.830078  10649.150391
2022-10-14  10742.809570  10766.690430  10308.809570  10321.389648

[2214 rows x 4 columns]

In [5]:
#Add the Return Column which is: Second Close price / First Close Price and so on


df["Return"] =  (df["Close"].shift(-1)/df["Close"] - 1) * 100

#Shift the return row to be in the right position

df["Return"] = df.Return.shift(1)

df

                    Open          High           Low         Close    Return
Date
2013-12-31   4161.509766   4177.729980   4160.770020   4176.589844       NaN
2014-01-02   4160.029785   4160.959961   4131.790039   4143.069824 -0.802569
2014-01-03   4148.560059   4152.959961   4124.959961   4131.910156 -0.269357
2014-01-06   4137.029785   4139.779785   4103.750000   4113.680176 -0.441200
2014-01-07   4128.569824   4158.180176   4126.479980   4153.180176  0.960211
...                  ...           ...           ...           ...       ...
2022-10-10  10659.950195  10669.929688  10449.040039  10542.099609 -1.035455
2022-10-11  10484.370117  10608.839844  10351.980469  10426.190430 -1.099489
2022-10-12  10437.000000  10494.530273  10372.209961  10417.099609 -0.087192
2022-10-13  10131.820312  10697.709961  10088.830078  10649.150391  2.227595
2022-10-14  10742.809570  10766.690430  10308.809570  10321.389648 -3.077811

[2214 rows x 5 columns]

In [6]:
#Calculating the Max Distance 

df["Dist_Max"] =  (df["High"]/df["Open"] - 1) * 100

df

,Open,High,Low,Close,Return,Dist_Max
Date,,,,,,
2013-12-31,4161.509766,4177.729980,4160.770020,4176.589844,NaN,0.389768
2014-01-02,4160.029785,4160.959961,4131.790039,4143.069824,-0.802569,0.022360
2014-01-03,4148.560059,4152.959961,4124.959961,4131.910156,-0.269357,0.106059
2014-01-06,4137.029785,4139.779785,4103.750000,4113.680176,-0.441200,0.066473
2014-01-07,4128.569824,4158.180176,4126.479980,4153.180176,0.960211,0.717206
...,...,...,...,...,...,...
2022-10-10,10659.950195,10669.929688,10449.040039,10542.099609,-1.035455,0.093617
2022-10-11,10484.370117,10608.839844,10351.980469,10426.190430,-1.099489,1.187193
2022-10-12,10437.000000,10494.530273,10372.209961,10417.099609,-0.087192,0.551215
2022-10-13,10131.820312,10697.709961,10088.830078,10649.150391,2.227595,5.585271
2022-10-14,10742.809570,10766.690430,10308.809570,10321.389648,-3.077811,0.222296

In [7]:
#Calculating the Min Distance 

df["Dist_Min"] =  (df["Open"]/df["Low"] - 1) * 100

df

,Open,High,Low,Close,Return,Dist_Max,Dist_Min
Date,,,,,,,
2013-12-31,4161.509766,4177.729980,4160.770020,4176.589844,NaN,0.389768,0.017779
2014-01-02,4160.029785,4160.959961,4131.790039,4143.069824,-0.802569,0.022360,0.683475
2014-01-03,4148.560059,4152.959961,4124.959961,4131.910156,-0.269357,0.106059,0.572129
2014-01-06,4137.029785,4139.779785,4103.750000,4113.680176,-0.441200,0.066473,0.810960
2014-01-07,4128.569824,4158.180176,4126.479980,4153.180176,0.960211,0.717206,0.050645
...,...,...,...,...,...,...,...
2022-10-10,10659.950195,10669.929688,10449.040039,10542.099609,-1.035455,0.093617,2.018464
2022-10-11,10484.370117,10608.839844,10351.980469,10426.190430,-1.099489,1.187193,1.278882
2022-10-12,10437.000000,10494.530273,10372.209961,10417.099609,-0.087192,0.551215,0.624650
2022-10-13,10131.820312,10697.709961,10088.830078,10649.150391,2.227595,5.585271,0.426117
2022-10-14,10742.809570,10766.690430,10308.809570,10321.389648,-3.077811,0.222296,4.209991

In [8]:

#Max Standart Deviation 
dp_max = df['Dist_Max'].std() 
print("DP Dist_Max - Stop Short = " + str(dp_max.round(decimals=2))+"%")

#Min  Standart Deviation 
dp_min = df['Dist_Min'].std() 
print("DP Dist_Min - Stop Long  = " + str(dp_min.round(decimals=2))+"%")

#Return  Standart Deviation 
dp_return = df['Return'].std() 
print("DP Dist_Return -         = " + str(dp_return.round(decimals=2))+"%")


#Double the Standart Deviation as security margin, you can double or trible this value to get less stops 

stop_short = dp_max * 3     #Adjust this number and check how many times you would've been stopped 

stop_long = dp_min * 3 

print("\n Stop Short " + str(stop_short.round(decimals=2))+"%")
print(" Stop Long " + str(stop_long.round(decimals=2))+"%")

DP Dist_Max - Stop Short = 0.67%
DP Dist_Min - Stop Long  = 0.81%
DP Dist_Return -         = 1.33%

 Stop Short 2.0%
 Stop Long 2.42%

In [9]:
#Calculating how many times we have been stopped 

df["Stop_Short"] = np.where(df["Dist_Max"]>stop_short, "1", "0")

df["Stop_Long"] = np.where(df["Dist_Min"]>stop_long, "1", "0")


df

,Open,High,Low,Close,Return,Dist_Max,Dist_Min,Stop_Short,Stop_Long
Date,,,,,,,,,
2013-12-31,4161.509766,4177.729980,4160.770020,4176.589844,NaN,0.389768,0.017779,0,0
2014-01-02,4160.029785,4160.959961,4131.790039,4143.069824,-0.802569,0.022360,0.683475,0,0
2014-01-03,4148.560059,4152.959961,4124.959961,4131.910156,-0.269357,0.106059,0.572129,0,0
2014-01-06,4137.029785,4139.779785,4103.750000,4113.680176,-0.441200,0.066473,0.810960,0,0
2014-01-07,4128.569824,4158.180176,4126.479980,4153.180176,0.960211,0.717206,0.050645,0,0
...,...,...,...,...,...,...,...,...,...
2022-10-10,10659.950195,10669.929688,10449.040039,10542.099609,-1.035455,0.093617,2.018464,0,0
2022-10-11,10484.370117,10608.839844,10351.980469,10426.190430,-1.099489,1.187193,1.278882,0,0
2022-10-12,10437.000000,10494.530273,10372.209961,10417.099609,-0.087192,0.551215,0.624650,0,0
2022-10-13,10131.820312,10697.709961,10088.830078,10649.150391,2.227595,5.585271,0.426117,1,0
2022-10-14,10742.809570,10766.690430,10308.809570,10321.389648,-3.077811,0.222296,4.209991,0,1

In [10]:
#Count Stops 

stop_short_count = df['Stop_Short'].value_counts()[1]

stop_long_count = df['Stop_Long'].value_counts()[1]

print(stop_short_count)

print(stop_long_count)

89
104

In [11]:
# % of days stopped 

length = len(df)

per_stop_short = (stop_short_count / length) * 100
per_stop_long = (stop_long_count / length) * 100

print("Number of Shorts Stopped: "+ str(per_stop_short.round(decimals=2))+"%")
print("Number of Longs Stopped: "+ str(per_stop_long.round(decimals=2))+"%")

Number of Shorts Stopped: 4.02%
Number of Longs Stopped: 4.7%

In [12]:
#Print Everything in one 

print("             " + ticker)


print("\n DP Dist_Max - Stop Short = " + str(dp_max.round(decimals=2))+"%")

print(" DP Dist_Min - Stop Long  = " + str(dp_min.round(decimals=2))+"%")

print(" DP Dist_Return -         = " + str(dp_return.round(decimals=2))+"%")


print(" #########################################")
print("\n Stop Short " + str(stop_short.round(decimals=2))+"%")

print(" Stop Long " + str(stop_long.round(decimals=2))+"%")

print("\n #########################################")
print(" \n Number of Shorts Stopped: " + str(stop_short_count))

print(" Number of Longs Stopped: " + str(stop_long_count))


print("\n #########################################")
print(" \n Percentage of Shorts Stopped: "+ str(per_stop_short.round(decimals=2))+"%")
print(" Percentage of Longs Stopped: "+ str(per_stop_long.round(decimals=2))+"%")

             ^IXIC

 DP Dist_Max - Stop Short = 0.67%
 DP Dist_Min - Stop Long  = 0.81%
 DP Dist_Return -         = 1.33%
 #########################################

 Stop Short 2.0%
 Stop Long 2.42%

 #########################################

 Number of Shorts Stopped: 89
 Number of Longs Stopped: 104

 #########################################

 Percentage of Shorts Stopped: 4.02%
 Percentage of Longs Stopped: 4.7%